<p id="notice"><%= notice %></p>

<p>
  <strong>Quantidade:</strong>
  <%= @quantidade.quantidade %>
</p>

<%= link_to 'Edit', edit_quantidade_path(@quantidade) %> |
<%= link_to 'Back', quantidades_path %>
